body {
   margin:0;
   font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
   font-size: 18px;
   line-height: 22.4px;
   background-color:#F2F2F2;
   color:#535353;
   font-weight:300;
}

.container{
	width:640px;
	margin:0 auto;
	height: 100vh;
	padding-top: 100px;
	
	
}

h2{
	font-weight:300;
	font-size: 50px;
	color:#535353;
	text-align: center;
}

.newTaskField{
	display:flex;
}

.newTask {
	width:485px;
	height:46px;
	border: 1px solid #D4D3D3;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 36px;
    padding-left:24px;
}

.newTask:hover{
	border: 1px solid #535353;
}

.btn-add{
	width: 155px;
    height: 50px;
    background: #D4D3D3;
    color:white;
    font-size: 16px;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    align-items: center;
 }

.btn-add:hover{
	background: #535353;
}

.items{
	width:640px;
	border: 1px solid #D4D3D3;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}

.titleItems{
	display: flex;
	justify-content: space-between;
	padding:10px 24px;
	border-bottom: 1px solid #D4D3D3;
}

.btns{
	display: flex
}

.btn-all, .btn-active, .btn-completed {
	border: none;
	background-color: white;
	font-size: 16px;
	font-weight: lighter;
	color:#535353;
	margin-right:18px;

}

.btn-completed{
	margin-right: 0;
}

.task{
	display:flex;
	height: 50px;
	align-items: center;
	border-bottom: 1px solid #D4D3D3;
	padding-left:24px;
	justify-content: space-between;
}

.task div{
	display: flex;
}

.checkbox {
	border-radius: 17px;
}

.btnTask-completed{
	box-sizing: border-box;
	border: 1px solid #D4D3D3;
	width:24px;
	height:24px;
	border-radius: 24px;
	margin-right:16px;
}

.btnTask-delete{
	margin-right: 24px;
}














